.article {
  grid-column: col-start / span 12;

  display: flex;
  flex-wrap: wrap;
  max-width: 1173px;

  padding-bottom: 0px;
}
.article__list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  padding: 0px;
}
.article__item {
  display: grid;
  grid-row-gap: 10px;
  max-width: 282px;
  width: auto;
}
.article__title {
  margin: 0px;
  margin-top: var(--spacing-xs);

  font-size: var(--font-size-md);
}
.article__text {
  padding-bottom: var(--spacing-xxs);
  padding-right: var(--spacing-xxs);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article__list {
    justify-content: space-evenly;
    gap: 100px;
    margin: 0px;
  }
  .article__item {
    max-width: 255px;
  }
}
