.blog {
  display: grid;
  grid-row-gap: 40px;
}
.blog__item {
  padding: var(--spacing-md);
}
.blog__title {
  font-size: var(--font-size-md);
  line-height: 24px;

  color: var(--gray-800);
}
.blog__text {
  margin-top: var(--spacing-xs);

  color: var(--gray-800);
}
.blog__extra {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: var(--spacing-lg);
}
.blog__icon {
  justify-self: end;
  padding-right: 10px;
}
