.contact {
  background-color: var(--gray-100);
  background-image: none;
}
.contact__content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(375px, 1fr));
  grid-column-gap: 24px;

  padding-top: 88px;
  padding-bottom: 88px;
}
