.contact {
  background-color: var(--gray-100);
  background-image: none;
}
.contact__content {
  grid-column: col-start / span 12;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact__content {
    flex-direction: column;
    justify-self: center;
    padding: 0px var(--spacing-md);  }
}
