.footer {
  grid-area: footer;

  background-color: var(--gray-800);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 88px var(--spacing-xxl);
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__content_left {
  display: flex;
  flex-wrap: wrap;

  justify-self: start;
  align-self: end;
}
.footer__content_right {
  justify-self: end;
  align-self: end;
}
.footer__logo {
  margin-right: 20px;

  font-size: var(--font-size-lg);
}
.footer__text {
  width: 196px;
  font-size: var(--font-size-xs);
  line-height: 16px;
  color: var(--white);
}
.footer__bottom_text {
  text-transform: uppercase;
}
.footer__link {
  padding: var(--spacing-xxs);

  color: var(--white);
}
.footer__menu {
  gap: 40px;
  padding: 0px;
  margin: 0px;
}
.footer__socials {
  margin-top: var(--spacing-lg);
}
.footer__socials a {
  transition: all .2s ease-in-out;
}
.footer__socials a:hover {
  opacity: .3;
  transition: all .2s ease-in;
}
@media (min-width: 768px) {
  .footer__menu {
    margin-top: var(--spacing-md);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: var(--spacing-xl);
  }
  .footer__content {
    margin: 0px;
    justify-content: flex-start;
  }
  .footer__content_left {
    flex-wrap: wrap;
  }
  .footer__menu {
    display: flex;
    gap: 20px;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-md);
  }
  .footer__link {
    margin-left: 0px;
  }
  .footer__item {
    margin: 0px;
  }
  .footer__socials {
    flex-direction: row;
    padding-top: var(--spacing-md);
    margin-top: 0px;
  }
  .footer__logo {
    margin-right: var(--spacing-sm);
  }
}
