.footer {
  grid-area: footer;

  background-color: var(--gray-800);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 88px var(--spacing-xxl);
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__content_left {
  display: flex;
  flex-wrap: wrap;

  justify-self: start;
  align-self: end;
}
.footer__content_right {
  justify-self: end;
  align-self: end;
}
.footer__logo {
  padding-top: 7px;
  height: 36px;
  width: 102px;
  margin-right: 20px;

  text-align: center;

  font-size: var(--font-size-lg);
  line-height: 28px;
}
.footer__text {
  width: 196px;
  font-size: var(--font-size-xs);
  line-height: 16px;
  color: var(--white);
}
.footer__bottom_text {
  text-transform: uppercase;
}
.footer__link {
  color: var(--white);
  margin-left: 21px;
}
.footer__menu {
  padding: 0px;
  margin: 0px;
}
.footer__item {
  display: inline-block;
  margin-left: 20px;
}
.footer__socials {
  margin-top: var(--spacing-lg);
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: var(--spacing-lg);
  }
  .footer__content {
    margin: auto;
  }
  .footer__content_left {
    flex-wrap: nowrap;
  }
  .footer__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-md);
  }
  .footer__link {
    margin-left: 0px;
  }
  .footer__item {
    margin: 0px;
  }
  .footer__socials {
    flex-direction: row;
    padding-top: var(--spacing-md);
    margin-top: 0px;
  }
  .footer__logo {
    height: 27px;
    width: 85px;
    padding-top: 2px;
    margin-right: var(--spacing-sm);
  }
}
