.form {
  width: fit-content;
}
.form__title {
  font-size: var(--font-size-xl);
  line-height: 32px;
  width: fit-content;

  color: var(--gray-800);
}
.form__text {
  max-width: 588px;
  min-width: 75%;
  width: auto;
  margin-top: var(--spacing-xs);
}
.form__content {
  display: grid;
  grid-row-gap: 20px;
  width: 100%;
  margin-top: var(--spacing-lg);
}
.form__item {
  display:grid;
  grid-row-gap: 4px;
  max-width: 280px;
}
.form__label {
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.form__label_small {
  justify-self: end;
  align-self: end;

  font-size: var(--font-size-xs);
}
.form__message {
  height: 128px;
  width: 385px;
  padding: var(--spacing-xs);
  resize: vertical;
  border-color: var(--black);
  border-radius: 0px;
}
.form__button {
  margin-top: var(--spacing-lg);
}
.form__input, .form__select {
  padding: 8px 11px;
  height: 36px;

  box-sizing: border-box;

  color: var(--gray-300);
  border: 1px solid var(--black);
}
.form__select {
  color: var(--gray-800);
  background-color: var(--white);
  appearance: none;
  background-image: url("../../public/icons/caret-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 9px) center;
}
@media (max-width: 1200px) {
  .form {
    padding: var(--spacing-xl) 0px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .form {
    max-width: 767px;
    min-width: 250px;
    width: auto;
  }
  .form__text {
    max-width: 250px;
  }
  .form__message {
    width: 250px;
  }
}
