.hero {
  grid-column: col-start / span 12;

  background-repeat: no-repeat;
  background-image: url("../../public/images/hero.jpg");
  background-size: cover;
}
.hero__content {
  max-width: 588px;
  padding: 157px var(--spacing-xxl);

  color: var(--white);
}
.hero__title {
  margin: 0px;

  font-size: 42px;
  line-height: 42px;
  letter-spacing: 2px;
}
.hero__text {
  margin-top: var(--spacing-md);
}
.hero__button {
  margin-top: var(--spacing-md);
}
@media (min-width: 320px) and (max-width: 767px) {
  .hero__content {
    display: flex;
    flex-direction: column;

    padding: var(--spacing-xl);
  }
}
