.map {
  width: 100%;
}
.map__image {
  max-width: 100%;
  min-width: 75%;
  width: auto;
  height: auto;
}
.map__address {
  margin-top: var(--spacing-md);

  font-style: normal;
}
.map__title {
  margin-top: var(--spacing-md);
  width: fit-content;

  font-size: var(--font-size-md);
  line-height: 24px;
}
.map__text {
  max-width: 588px;
  min-width: 75%;
  width: auto;
  margin-top: var(--spacing-xs);
}
@media (min-width: 320px) and (max-width: 767px) {
  .map {
    padding: var(--spacing-xl);
    padding-top: 0px;
    width: auto;
  }
  .map__image,
  .map__text {
    width: 275px;
    height: auto;
  }
}
