.map {
  /*max-width: 588px;
  min-width: 375px;*/
  width: 100%;
}
.map__image {
  max-width: 100%;
  min-width: 75%;
  width: auto;
  height: auto;
}
.map__address {
  margin-top: var(--spacing-md);

  font-style: normal;
}
.map__title {
  margin-top: var(--spacing-md);
  width: fit-content;

  font-size: var(--font-size-md);
  line-height: 24px;
}
.map__text {
  max-width: 588px;
  min-width: 75%;
  width: auto;
  margin-top: var(--spacing-xs);
}
